In [2]:
import numpy as np
import pandas as pd

In [3]:
# reading data
wc_data = pd.read_csv('Desktop/Hackathon Raw Files/Full Datasets - Opta/WC/World Cup.csv')
wc_data.head()

FileNotFoundError: File b'Desktop/Hackathon Raw Files/Full Datasets - Opta/WC/World Cup.csv' does not exist

In [4]:
# reading data
wc_data = pd.read_csv('Desktop/Hackathon Raw Files/Full Datasets - Opta/WC/World Cup.csv')
wc_data.head()

FileNotFoundError: File b'Desktop/Hackathon Raw Files/Full Datasets - Opta/WC/World Cup.csv' does not exist

In [6]:
# filtering columns
clean_df = pd.DataFrame({
    "Season":wc_data['season'],\
    'team' : wc_data['team'],\
    'team_id': wc_data['team_id']
})
clean_df.head()

NameError: name 'wc_data' is not defined

In [68]:
# Number of unique teams for each world cup
count_qualify_team = clean_df.groupby('team').Season.nunique()
count_qualify_team.head()

team
Algeria      2
Angola       1
Argentina    4
Australia    4
Belgium      2
Name: Season, dtype: int64

In [17]:
#dataframe for occurences of teams for 4 world cup
count_qualify_team_df = pd.DataFrame({
    'Count': count_qualify_team
})
count_qualify_team_df.head()

           Count
team
Algeria        2
Angola         1
Argentina      4
Australia      4
Belgium        2

In [37]:
#filtering out more than 3 occurences
count_qual_4_df = count_qualify_team_df.loc[count_qualify_team_df['Count'] > 3]
count_qual_4_df.reset_index()

                Count
team
Argentina           4
Australia           4
Brazil              4
England             4
France              4
Germany             4
Japan               4
Korea Republic      4
Mexico              4
Portugal            4
Spain               4
Switzerland         4

In [84]:
#Number of unique games for each season and team
count_team = wc_data.groupby(['season','team']).game_id.nunique()
count_team_df = pd.DataFrame({
    'Count' : count_team
})
count_team_df.to_csv('Team_1stFilter.csv')

In [89]:
#dataframe show
filtered_1st_data = pd.read_csv('Team_1stFilter.csv')
filtered_1st_data.head()

             season        team  Count
0  Season 2005/2006      Angola      3
1  Season 2005/2006   Argentina      5
2  Season 2005/2006   Australia      4
3  Season 2005/2006      Brazil      5
4  Season 2005/2006  Costa Rica      3

In [90]:
#Qualifying 4 times to World Cup & more than 4 matches (more than 4 matches means that at least quarter final) 
filtered_teams_ = filtered_1st_data[(filtered_1st_data['Count'] > 4) & (filtered_1st_data['team'].isin(["Argentina", 'Australia', 'Brazil', 'England', 'France', 'Germany', 'Japan', 'Korea Republic', 'Mexico', 'Portugal', 'Spain', 'Switzerland']))]
top_teams_array = filtered_teams_.team.unique()
top_teams_array

array(['Argentina', 'Brazil', 'England', 'France', 'Germany', 'Portugal',
       'Spain'], dtype=object)

In [97]:
#if event_type == 1 , then it is pass
top_team_all_data = wc_data.loc[wc_data['team'].isin(top_teams_array)]
top_teams_pass = top_team_all_data.loc[top_team_all_data['event_type_id'] == 1]
top_teams_pass.head()

,competition_id,competition,season,game_date,game_date_timezone,game_id,fixture,home_team,home,away_team,...,first_touch,var_goal,var_penalty_awarded,var_penalty_not_awarded,var_red_card,var_mistaken_identity,var_other,referee_confirmed,referee_cancelled,error_missing_qualifier
2,4,World Cup,Season 2017/2018,2018-07-11 19:00:00,BST,958083,Croatia v England,t535,Croatia,t114,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,World Cup,Season 2017/2018,2018-07-11 19:00:00,BST,958083,Croatia v England,t535,Croatia,t114,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,World Cup,Season 2017/2018,2018-07-11 19:00:00,BST,958083,Croatia v England,t535,Croatia,t114,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4,World Cup,Season 2017/2018,2018-07-11 19:00:00,BST,958083,Croatia v England,t535,Croatia,t114,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,4,World Cup,Season 2017/2018,2018-07-11 19:00:00,BST,958083,Croatia v England,t535,Croatia,t114,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [128]:
#total passes 
teams_pass_count = top_teams_pass.groupby('team').event_type_id.count()
pd.to_numeric(teams_pass_count)

team
Argentina    12127
Brazil       11550
England       9120
France       10198
Germany      14318
Portugal      9087
Spain        12755
Name: event_type_id, dtype: int64

In [174]:
# successful passes
top_teams_pass_out = top_teams_pass.loc[top_teams_pass['outcome'] == 1]
success_pass = top_teams_pass_out.groupby('team').outcome.count()
pd.to_numeric(success_pass)

team
Argentina    10020
Brazil        9606
England       7235
France        8210
Germany      11790
Portugal      7291
Spain        10971
Name: outcome, dtype: int64

TOP TEAMS PASS ACCURACY

In [147]:
#pass accuracy df
pass_accuracy_df = pd.DataFrame({
    'Successful Pass':success_pass,
    'Total Pass Attempt': teams_pass_count,
    'Pass Accuracy': success_pass/teams_pass_count
    })
pass_accuracy = pass_accuracy_df.reset_index()
pass_accuracy

        team  Pass Accuracy  Successful Pass  Total Pass Attempt
0  Argentina       0.826255            10020               12127
1     Brazil       0.831688             9606               11550
2    England       0.793311             7235                9120
3     France       0.805060             8210               10198
4    Germany       0.823439            11790               14318
5   Portugal       0.802355             7291                9087
6      Spain       0.860133            10971               12755

US SOCCER NATIONAL TEAM PASS DATA

In [149]:
#us all data read
us_all_data = pd.read_csv('Hackathon Raw Files/Full Datasets - Opta/USMNT/USMNT.csv')
us_all_data.head()

C:\Users\emrcl\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (226,287,288,298) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,competition_id,competition,season,game_date,game_date_timezone,game_id,fixture,home_team,home,away_team,...,first_touch,var_goal,var_penalty_awarded,var_penalty_not_awarded,var_red_card,var_mistaken_identity,var_other,referee_confirmed,referee_cancelled,error_missing_qualifier
0,88,Internationals,Season 2017/2018,2018-05-28 23:30:00,BST,980425,USA v Bolivia,t596,USA,t836,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,88,Internationals,Season 2017/2018,2018-05-28 23:30:00,BST,980425,USA v Bolivia,t596,USA,t836,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,88,Internationals,Season 2017/2018,2018-05-28 23:30:00,BST,980425,USA v Bolivia,t596,USA,t836,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,88,Internationals,Season 2017/2018,2018-05-28 23:30:00,BST,980425,USA v Bolivia,t596,USA,t836,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,88,Internationals,Season 2017/2018,2018-05-28 23:30:00,BST,980425,USA v Bolivia,t596,USA,t836,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [153]:
#us pass data
us_pass = us_all_data.loc[(us_all_data['event_type_id'] == 1) & (us_all_data['team'] == 'USA') ]
us_pass.head()

,competition_id,competition,season,game_date,game_date_timezone,game_id,fixture,home_team,home,away_team,...,first_touch,var_goal,var_penalty_awarded,var_penalty_not_awarded,var_red_card,var_mistaken_identity,var_other,referee_confirmed,referee_cancelled,error_missing_qualifier
2,88,Internationals,Season 2017/2018,2018-05-28 23:30:00,BST,980425,USA v Bolivia,t596,USA,t836,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,88,Internationals,Season 2017/2018,2018-05-28 23:30:00,BST,980425,USA v Bolivia,t596,USA,t836,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,88,Internationals,Season 2017/2018,2018-05-28 23:30:00,BST,980425,USA v Bolivia,t596,USA,t836,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,88,Internationals,Season 2017/2018,2018-05-28 23:30:00,BST,980425,USA v Bolivia,t596,USA,t836,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,88,Internationals,Season 2017/2018,2018-05-28 23:30:00,BST,980425,USA v Bolivia,t596,USA,t836,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [186]:
#us total passes count
us_pass_count = us_pass.groupby('team').event_type_id.count()
pd.to_numeric(us_pass_count)
us_pass_count

team
USA    38042
Name: event_type_id, dtype: int64

In [187]:
# us successful passes
us_teams_pass_out = us_pass.loc[us_pass['outcome'] == 1]
us_success_pass = us_teams_pass_out.groupby('team').outcome.count()
pd.to_numeric(us_success_pass)
us_success_pass

team
USA    29957
Name: outcome, dtype: int64

USA PASS ACCURACY

In [188]:
#US pass accuracy df
us_pass_accuracy_df = pd.DataFrame({
    'Successful Pass':us_success_pass,
    'Total Pass Attempt': us_pass_count,
    'Pass Accuracy': us_success_pass/us_pass_count
    })
us_pass_accuracy = us_pass_accuracy_df.reset_index()
us_pass_accuracy

  team  Pass Accuracy  Successful Pass  Total Pass Attempt
0  USA       0.787472            29957               38042

OFFENSIVE PASSES TOP TEAMS

- event_type_id =1
- outcome = 1
- if x < pass_end_x

In [181]:
#before ready df - event_type ==1 & outcome ==1
top_teams_pass_out.head()

,competition_id,competition,season,game_date,game_date_timezone,game_id,fixture,home_team,home,away_team,...,first_touch,var_goal,var_penalty_awarded,var_penalty_not_awarded,var_red_card,var_mistaken_identity,var_other,referee_confirmed,referee_cancelled,error_missing_qualifier
2,4,World Cup,Season 2017/2018,2018-07-11 19:00:00,BST,958083,Croatia v England,t535,Croatia,t114,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,World Cup,Season 2017/2018,2018-07-11 19:00:00,BST,958083,Croatia v England,t535,Croatia,t114,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,World Cup,Season 2017/2018,2018-07-11 19:00:00,BST,958083,Croatia v England,t535,Croatia,t114,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4,World Cup,Season 2017/2018,2018-07-11 19:00:00,BST,958083,Croatia v England,t535,Croatia,t114,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,4,World Cup,Season 2017/2018,2018-07-11 19:00:00,BST,958083,Croatia v England,t535,Croatia,t114,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [182]:
#offensive passes WON
top_teams_offpass = top_teams_pass_out.loc[top_teams_pass_out['x'] < top_teams_pass_out['pass_end_x'] ]
count_offense_pass_won = top_teams_offpass.groupby('team').team.count()
count_offense_pass_won

team
Argentina    5955
Brazil       5861
England      4305
France       5184
Germany      7213
Portugal     4345
Spain        6398
Name: team, dtype: int64

In [183]:
#Offensive passes LOSE
top_teams_pass_lose = top_teams_pass.loc[top_teams_pass['outcome'] == 0]
count_offense_pass_lose = top_teams_pass_lose.groupby('team').team.count()
count_offense_pass_lose

team
Argentina    2107
Brazil       1944
England      1885
France       1988
Germany      2528
Portugal     1796
Spain        1784
Name: team, dtype: int64

TOP TEAMS - OFFENSIVE PASS ACCURACY DATAFRAME

In [216]:
#Offensive Passes df
top_offpass_df = pd.DataFrame({
    'Won Offensive Passes':count_offense_pass_won,
    'Total Offensive Passes': (count_offense_pass_lose + count_offense_pass_won) ,
    'Perc Won Offensive Pass ': count_offense_pass_won/(count_offense_pass_lose +count_offense_pass_won)
    })
top_off_pass = top_offpass_df.reset_index()
top_off_pass

,team,Perc Won Offensive Pass,Total Offensive Passes,Won Offensive Passes
0,Argentina,0.738650,8062,5955
1,Brazil,0.750929,7805,5861
2,England,0.695477,6190,4305
3,France,0.722811,7172,5184
4,Germany,0.740478,9741,7213
5,Portugal,0.707539,6141,4345
6,Spain,0.781960,8182,6398

US OFFENSIVE PASS ACCURACY

In [189]:
us_teams_pass_out.head()

,competition_id,competition,season,game_date,game_date_timezone,game_id,fixture,home_team,home,away_team,...,first_touch,var_goal,var_penalty_awarded,var_penalty_not_awarded,var_red_card,var_mistaken_identity,var_other,referee_confirmed,referee_cancelled,error_missing_qualifier
2,88,Internationals,Season 2017/2018,2018-05-28 23:30:00,BST,980425,USA v Bolivia,t596,USA,t836,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,88,Internationals,Season 2017/2018,2018-05-28 23:30:00,BST,980425,USA v Bolivia,t596,USA,t836,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,88,Internationals,Season 2017/2018,2018-05-28 23:30:00,BST,980425,USA v Bolivia,t596,USA,t836,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,88,Internationals,Season 2017/2018,2018-05-28 23:30:00,BST,980425,USA v Bolivia,t596,USA,t836,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,88,Internationals,Season 2017/2018,2018-05-28 23:30:00,BST,980425,USA v Bolivia,t596,USA,t836,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [190]:
#USA offensive passes WON
usa_offpass = us_teams_pass_out.loc[us_teams_pass_out['x'] < us_teams_pass_out['pass_end_x'] ]
usa_count_offense_pass_won = usa_offpass.groupby('team').team.count()
usa_count_offense_pass_won

team
USA    17670
Name: team, dtype: int64

In [194]:
#Offensive passes LOSE
usa_pass_lose = us_pass.loc[us_pass['outcome'] == 0]
usa_count_offense_pass_lose = usa_pass_lose.groupby('team').team.count()
usa_count_offense_pass_lose

team
USA    8085
Name: team, dtype: int64

USA OFFENSIVE PASS ACCURACY DF

In [195]:
#Offensive Passes df
usa_offpass_df = pd.DataFrame({
    'Won Offensive Passes':usa_count_offense_pass_won,
    'Total Offensive Passes': (usa_count_offense_pass_lose + usa_count_offense_pass_won) ,
    'Perc Won Offensive Pass ': usa_count_offense_pass_won/(usa_count_offense_pass_lose + usa_count_offense_pass_won)
    })
usa_off_pass = usa_offpass_df.reset_index()
usa_off_pass

  team  Perc Won Offensive Pass   Total Offensive Passes  Won Offensive Passes
0  USA                   0.68608                   25755                 17670

TOP TEAMS GOAL AVERAGE

In [196]:
#gaol counts of top teams
team_goals = top_team_all_data.loc[top_team_all_data['event_type_id'] == 16]

teams_goal_count = team_goals.groupby('team').event_type_id.count()
pd.to_numeric(teams_goal_count)

team
Argentina    39
Brazil       43
England      27
France       30
Germany      53
Portugal     27
Spain        30
Name: event_type_id, dtype: int64

In [197]:
#top teams game count
top_team_game_count = top_team_all_data.groupby(['team']).game_id.nunique()
top_team_game_count

team
Argentina    21
Brazil       22
England      17
France       21
Germany      24
Portugal     18
Spain        18
Name: game_id, dtype: int64

TOP TEAMS GOAL AVERAGE

In [198]:
#top teams goal count average df
top_team_goal_average_df = pd.DataFrame({
    'Goal Count':teams_goal_count,
    'appearance': top_team_game_count,
    'Goal Average': teams_goal_count/top_team_game_count
    })
top_team_goal_average = top_team_goal_average_df.reset_index()
top_team_goal_average

        team  Goal Average  Goal Count  appearance
0  Argentina      1.857143          39          21
1     Brazil      1.954545          43          22
2    England      1.588235          27          17
3     France      1.428571          30          21
4    Germany      2.208333          53          24
5   Portugal      1.500000          27          18
6      Spain      1.666667          30          18

In [200]:
#National Team csv read
mnt_data = pd.read_csv('Hackathon Raw Files/Full Datasets - Opta/USMNT/USMNT.csv')
mnt_data.head()

C:\Users\emrcl\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (226,287,288,298) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,competition_id,competition,season,game_date,game_date_timezone,game_id,fixture,home_team,home,away_team,...,first_touch,var_goal,var_penalty_awarded,var_penalty_not_awarded,var_red_card,var_mistaken_identity,var_other,referee_confirmed,referee_cancelled,error_missing_qualifier
0,88,Internationals,Season 2017/2018,2018-05-28 23:30:00,BST,980425,USA v Bolivia,t596,USA,t836,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,88,Internationals,Season 2017/2018,2018-05-28 23:30:00,BST,980425,USA v Bolivia,t596,USA,t836,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,88,Internationals,Season 2017/2018,2018-05-28 23:30:00,BST,980425,USA v Bolivia,t596,USA,t836,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,88,Internationals,Season 2017/2018,2018-05-28 23:30:00,BST,980425,USA v Bolivia,t596,USA,t836,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,88,Internationals,Season 2017/2018,2018-05-28 23:30:00,BST,980425,USA v Bolivia,t596,USA,t836,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [202]:
#USA goal count
filtered_team = mnt_data[(mnt_data['team'].isin(["USA"]))]
USA_array = filtered_team.team.unique()
USA_array

USA_all_data = mnt_data.loc[mnt_data['team'].isin(USA_array)]

USA_goals = USA_all_data.loc[(mnt_data['event_type_id'] == 16)]

USA_goal_count = USA_goals.groupby('team').event_type_id.count()
pd.to_numeric(USA_goal_count)

team
USA    131
Name: event_type_id, dtype: int64

In [203]:
#USA game count
USA_game_count = USA_all_data.groupby(['team']).game_id.nunique()
USA_game_count

team
USA    80
Name: game_id, dtype: int64

USA GOAL AVERAGE DF

In [205]:
#USA goal average df
USA_goal_average_df = pd.DataFrame({
    'Goal Count':USA_goal_count,
    'appearance': USA_game_count,
    'Goal Average': USA_goal_count/USA_game_count
    })
USA_goal_average = USA_goal_average_df.reset_index()
USA_goal_average

  team  Goal Average  Goal Count  appearance
0  USA        1.6375         131          80

In [206]:
#top teams total shots
top_teams_total_shot = top_team_all_data.loc[(top_team_all_data['event_type_id'] == 13) | (top_team_all_data['event_type_id'] == 14) | (top_team_all_data['event_type_id'] == 15) | (top_team_all_data['event_type_id'] == 16)]

top_team_total_shot_count = top_teams_total_shot.groupby('team').event_type_id.count()
pd.to_numeric(top_team_total_shot_count)

team
Argentina    322
Brazil       395
England      267
France       300
Germany      421
Portugal     293
Spain        316
Name: event_type_id, dtype: int64

In [207]:
#top teams on target shots
top_teams_on_target = top_team_all_data.loc[(top_team_all_data['event_type_id'] == 15) | (top_team_all_data['event_type_id'] == 16)]

top_team_on_target_count = top_teams_on_target.groupby('team').event_type_id.count()
pd.to_numeric(top_team_on_target_count)

team
Argentina    203
Brazil       246
England      154
France       173
Germany      255
Portugal     167
Spain        182
Name: event_type_id, dtype: int64

In [208]:
#top teams off target shots
top_teams_off_target = top_team_all_data.loc[(top_team_all_data['event_type_id'] == 13) | (top_team_all_data['event_type_id'] == 14)]

top_team_off_target_count = top_teams_off_target.groupby('team').event_type_id.count()
pd.to_numeric(top_team_off_target_count)

team
Argentina    119
Brazil       149
England      113
France       127
Germany      166
Portugal     126
Spain        134
Name: event_type_id, dtype: int64

TOP TEAMS SHOT ACCURACY DF

In [209]:
#top teams shot accuracy df
top_team_shot_accuracy_df = pd.DataFrame({
    'On Target':top_team_on_target_count,
    'Total Shots': top_team_total_shot_count,
    'Shot Accuracy': top_team_on_target_count/top_team_total_shot_count
    })
top_team_shot_accuracy = top_team_shot_accuracy_df.reset_index()
top_team_shot_accuracy

        team  On Target  Shot Accuracy  Total Shots
0  Argentina        203       0.630435          322
1     Brazil        246       0.622785          395
2    England        154       0.576779          267
3     France        173       0.576667          300
4    Germany        255       0.605701          421
5   Portugal        167       0.569966          293
6      Spain        182       0.575949          316

In [210]:
#USA total shots
USA_total_shot = USA_all_data.loc[(USA_all_data['event_type_id'] == 13) | (USA_all_data['event_type_id'] == 14) | (USA_all_data['event_type_id'] == 15) | (USA_all_data['event_type_id'] == 16)]

USA_total_shot_count = USA_total_shot.groupby('team').event_type_id.count()
pd.to_numeric(USA_total_shot_count)

team
USA    916
Name: event_type_id, dtype: int64

In [211]:
#USA on target shots
USA_on_target = USA_all_data.loc[(USA_all_data['event_type_id'] == 15) | (USA_all_data['event_type_id'] == 16)]

USA_on_target_count = USA_on_target.groupby('team').event_type_id.count()
pd.to_numeric(USA_on_target_count)

team
USA    561
Name: event_type_id, dtype: int64

In [212]:
#USA off target shots
USA_off_target = USA_all_data.loc[(USA_all_data['event_type_id'] == 13) | (USA_all_data['event_type_id'] == 14)]

USA_off_target_count = USA_off_target.groupby('team').event_type_id.count()
pd.to_numeric(USA_off_target_count)

team
USA    355
Name: event_type_id, dtype: int64

USA SHOT ACCURACY DF

In [213]:
#USA Shot accuracy df
USA_shot_accuracy_df = pd.DataFrame({
    'On Target':USA_on_target_count,
    'Total Shots': USA_total_shot_count,
    'Shot Accuracy': USA_on_target_count/USA_total_shot_count
    })
USA_shot_accuracy = USA_shot_accuracy_df.reset_index()
USA_shot_accuracy

  team  On Target  Shot Accuracy  Total Shots
0  USA        561       0.612445          916

TOP TEAMS TOTAL STATS

In [226]:
top_teams_total = pd.DataFrame({
    "Pass Accuracy": pass_accuracy_df['Pass Accuracy'],
    "Offensive Pass Accuracy": count_offense_pass_won/(count_offense_pass_lose +count_offense_pass_won),
    "Shot Accuracy":top_team_goal_average_df['Goal Average'],
    "Goal Average":top_team_shot_accuracy_df['Shot Accuracy']
})

top_teams_total.to_csv('Top_Teams_Total.csv')
top_teams_total

           Goal Average  Offensive Pass Accuracy  Pass Accuracy  Shot Accuracy
team
Argentina      0.630435                 0.738650       0.826255       1.857143
Brazil         0.622785                 0.750929       0.831688       1.954545
England        0.576779                 0.695477       0.793311       1.588235
France         0.576667                 0.722811       0.805060       1.428571
Germany        0.605701                 0.740478       0.823439       2.208333
Portugal       0.569966                 0.707539       0.802355       1.500000
Spain          0.575949                 0.781960       0.860133       1.666667

US NATIONAL TEAM TOTAL STATS

In [227]:
usa_ntnl_total = pd.DataFrame({
    "Pass Accuracy": us_pass_accuracy_df['Pass Accuracy'],
    "Offensive Pass Accuracy": usa_count_offense_pass_won/(usa_count_offense_pass_lose + usa_count_offense_pass_won),
    "Shot Accuracy": USA_goal_average_df['Goal Average'],
    "Goal Average":USA_shot_accuracy_df['Shot Accuracy']
})

usa_ntnl_total.to_csv('USA_NTNL_TOTAL.csv')
usa_ntnl_total

      Goal Average  Offensive Pass Accuracy  Pass Accuracy  Shot Accuracy
team
USA       0.612445                  0.68608       0.787472         1.6375

In [ ]:
impor